* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* General adjusts */
a {
text-decoration: none;
}

body {
  margin: 0 auto;
/* width: 93.7%; */
  width: 100%;
  max-width: 1280px;
  height: 100%;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
}

.wrapper {
  width: 78.1%;
}
.to-uppercase {
  text-transform: uppercase;
}


/* Header */

header {
  background-color: #2c3e50;
  height: 80px;
  display: flex;
  justify-content: center;
}

header a {
  color: white;
}

header a:hover {
  color: #18bc9c;
}

#logo {
  font-size: 1.6em;
  margin-top: 24px;
  letter-spacing: -0.85px;
}

nav {
  display: flex;
  justify-content: space-between;
}

ul {
  display: flex;
  flex-direction: row;
  margin-top: 29px;
}

li {
  list-style-type: none;
}

li a {
  font-size: 0.85em;
  padding: 7px;
  letter-spacing: 0.075em;
}

/*  Profile */

#profile {
  height: 632px;
  background-color: #18bc9c;
  display: flex;
  flex-direction: column;
}

#profile img {
  margin-top: 100px;
  height: 230px;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

#profile h1 {
  margin-top: 26px;
  font-size: 4.3em;
  letter-spacing: -2.4px;
  color: white;
  text-align: center;
}

#profile p {
  font: 1.52em 'Lato', sans-serif;
  text-align: center;
  font-weight: bold;
  margin-top: 8px;
}
/* Portfolio */

#portfolio {
  height: 791px;
  background-color: yellow;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#portfolio img {
  width: 315px;
  height: auto;
  /*230*/

}

/* About */

#about {
  height: 518px;
  background-color: pink;
}

/* Contact */

#contact {
  height: 600px;
  background-color: purple;
}
